html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 300;
}

.link {
    color: aquamarine;
    font: size 16px;
    text-align: center;
    display: block;
}

video {
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    padding-bottom: 10px
}

p.copyright {
    text-align: right;
    color: gray;
}

p {
    text-align: center;
}